<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title><%= title %></title>
  </head>
  <body>
    <h1><%= title %>：<%= user.name %></h1>
    <p>用户 ID：<%= user.id %></p>
    <p>年龄：<%= user.age %></p>
    <script src="/js/user.bundle.js"></script>
  </body>
</html>
